#header{
  width: 100%;
  height: 80px;
  background-color: black;
}

#header h1{
  color:orange;
}

.left{
  width: 20%;
  background-color: orange;
  float: left;
}

.right{
  width: 80%;
  background-color: lightgrey;
  float: right;
}

.smaller-image {
  width:600px;
}
